{{> menu active="about"}}

<section class="hero">
    <div class="hero-body has-text-centered">
        <p class="title ">
            Evento: find, register, and stay connected with events effortlessly.  </p>
    </div>
</section>

