<form class="box" action="/category/{{category._id}}/addevent" method="POST">
    <label>Enter Event Details:</label>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <input class="input" type="text" placeholder="Enter Name" name="name">
            </div>
            <div class="field">
                <input class="input" type="text" placeholder="Enter Description" name="description">
            </div>
        </div>
    </div>
    <button class="button is-primary">Add Event</button>
</form>
