<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr>
            <td>
                {{name}}
            </td>
            <td>
                <!--TODO: add delete user -->
                <a href="/user/{{../category._id}}/deleteevent/{{_id}}" class="ui icon button">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
